<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManagementTool.Properties.Settings.mtdbConnectionString"
            connectionString="server=46.163.69.38;User Id=root;Persist Security Info=True;database=mtdb;Password=rosen.501"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>